<body onselectstart='return false;' onmousedown='return false;'>


 <div id='fb-root'></div>
	<figure class="container" ></figure>

	
	<article>


		
		<div class="tit letter-container" id="letter-container">ComPair</div>
		
		<img src="assets/fb.png" onclick="facebook_login();" id="fb-login-button" onmouseover="this.src='assets/fbglow.png'" onmouseout="this.src='assets/fb.png'" style="cursor:pointer" /> 

		<!-- <div id="sai"> poda venna </div> -->
			

	</article>




<footer>
	<a href="#" onclick="bootbox.alert('<h3>This would not have been possible without my <a href=&quot;http://goo.gl/z9UxEJ&quot; target=&quot;_blank&quot;>vetti</a> friends</h3><hr>Sai Pranav<br>Harini<br>Nanda Kumar<br>Samir<br>Baskar<br>and the list goes on and on and on...','These fellas are awesome, yes');">Thanks</a> | <a href="https://github.com/dtsdwarak" target="_blank">Developers</a> | <a href="#" onclick="bootbox.alert('Made to kill time, mock people and have fun. Yes, I mean it :P','I am having fun, yeah!');">About</a> 
</footer>
	
</body>
</html>